body{
    font-family: 'poppins', sans-serif;
    background-color: #d8ccbc;
}

/* ------------------ imagenes ----------------- */
.img-index{
    margin-top: 100px;
    width: 500px;
    height: 300px;
}

.img-avatar{
    margin-top: 15px;
    width: 400px;
    height: 400px;
}

.img-logo{
    margin-left: 0;
    width: 55px;
    height: 55px;
}

.img-logo-xl{
    max-width: 70%;
    height: auto;
}


/* --------------------- H y P -------------------------- */
h1{
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

.centrar-text{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100%;
}

.p-large{
    font-family: 'poppins', sans-serif;
    font-size: 30px;
}

/* -------------------  NAVBAR  ----------------------- */
.navbar{
    background-color: #b8a38e !important;
    width: 100%;
    position: fixed;
    z-index: 100;
    
}
.navbar-brand{
    margin-left: 15px;
    font-weight: bold;
    display: flex;
}

/* ---------------------   BOTONES  -------------------- */
.btn-standard{
    color: #000000;
    border: 4px solid #ffffff;
    font-weight: bold;
}

#btn-inicia-sesion{
    background-color: #d4e0ca;
}

#btn-registro{
    background-color: #d8c1d1;
}

#btn-aceptar{
    background-color: #bfccdc;
}

#btn-login{
    background-color: #f1dab1;
}

#btn-inicia-sesion:hover, #btn-registro:hover, #btn-aceptar:hover, #btn-login:hover{
    background-color: #ffffff; 
    color: #000000;
}
.btn-rrss:hover{
    border: 4px solid #ffffff;
    background-color: #b8a38e;
}
